@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/maven-pro-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Maven Pro Regular'), local('MavenPro-Regular'),
       url('/fonts/maven-pro-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/maven-pro-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/maven-pro-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/maven-pro-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/maven-pro-v12-latin-regular.svg#MavenPro') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Maven Pro Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/maven-pro-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Maven Pro Bold'), local('MavenPro-Bold'),
       url('/fonts/maven-pro-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/maven-pro-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/maven-pro-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/maven-pro-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/maven-pro-v12-latin-700.svg#MavenPro') format('svg'); /* Legacy iOS */
}

@mixin bold {
  font-family: 'Maven Pro Bold';
}

@mixin light {
  font-family: 'Maven Pro';
}